body {
    background-image: url("https://images.unsplash.com/photo-1561571994-3c61c554181a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=772&q=80");
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    background-size: cover;
}
.landing {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15vh!important;
}
.landing1 {
    background-color: #E9E186;
    padding-right: 5%;
}
.landing1, .landing2 {
    text-align: center;
    padding: 2%;
    background-size: 50%;
    border-radius: 10px;
}