* {
  font-family: 'Oswald', sans-serif;
}
/* Base navbar including dark mode*/
.navbar {
  background-color: #F65275;
}
.content-dark .navbar {
  background-color: black;
}
.jj {
  width: 100%;
}
span.navbar-brand {
  color: #fff;
  font-size: 2vh;
}
.content-dark span.navbar-brand {
  color: #F65275;
}
/* Navbar links including dark mode*/
.something2 {
  color: black!important;
}
.navLinks {
  color: #fff;
  font-size: 1.5vh;
  text-decoration: none;
  padding-left: 6%;
}
.content-dark .navLinks {
  color: #F65275;
}
.navLinks:hover {
  color: #E9E186;
}
