* {
  font-family: 'Oswald', sans-serif;
}
/* Base navbar*/
.navbar {
  background-color: #F65275;
}
.jj {
  width: 100%;
}
span.navbar-brand {
  color: #fff;
  font-size: 2vh;
}

/* Navbar links*/
.something2 {
  color: black!important;
}
.navLinks {
  color: #fff;
  font-size: 1.5vh;
  text-decoration: none;
  padding-left: 6%;
}
.navLinks:hover {
  color: #E9E186;
}
/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 500px){
  .navLinks {
    padding: 2%;
  }
}
/* DARK MODE */
.content-dark span.navbar-brand {
  color: #F65275;
}
.content-dark .navLinks {
  color: #F65275;
}
.content-dark .navbar {
  background-color: black;
}
