.profile {
    display: flex;
    padding-top: 2%;
    justify-content: space-around;
}
.pfp {
    width: 50%;
    padding: 2%;
}
.tTest {
    padding: 1%;
    margin-bottom: 2%;
}
.trips {
    padding: 2%;
}
.travelButton {
    background-color: #9CDBD9!important;
    color: black!important;
    border: none !important;
    margin-right: 2%;
}
.tripButton {
    background-color: #9CDBD9!important;
    color: black!important;
    border: none !important;
    margin: 2% 2% 0 0;
    width: fit-content;
}
@media screen and (max-width: 400px){
    .pfp {
        width: 100%;
    }
    .trips {
        width: 100%;
    }
}
/* DARK MODE */
.content-dark .pfp {
    background-color: black;
    color: white;
}
.content-dark .trips, .content-dark .tTest {
    background-color: black;
    color: white;
}
/* .content-dark .tTest {
    color: black;
} */