.travel {
    padding-top: 2%;
    border-radius: 10px;
}
.comments {
    display: flex;
    padding-top: 2%;
    font-size: 25px;
}
/* MOBILE RESPONSIVENESS */
@media screen and (max-width: 500px) {
    .pfp {
        width: 100%;
    }
}