.travel, .comments p, .travelComment {
    padding-top: 2%;
}
.comments {
    padding-top: 1%;
}
travel Image {
    width: 20%;
}
.comments a {
    font-size: 25px;
    padding: 1%;
}
.commentButton {
    margin: 1% 0;
    background-color: #E9E186!important;
    border: none!important;
    color: #000!important;
}