.travel {
    padding-top: 2%;
}
.pfp {
    width: 40%;
    padding: 2%;
}
h3 {
    text-align: right;
}
.travelButton {
    background-color: #F68D2E!important;
    border: none!important;
    margin-right: 5%;
}
/* .comments {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
}
.travelP {
    float: right;
    align-items: right;
} */